@using CustomerManager.Web.Models
@model CustomerEditFormViewModel
@{
    ViewData["Title"] = "Editar Cliente";
}
<section class="page">
    <div class="container">
        <header class="d-flex justify-content-between align-items-center w-100 border-bottom mb-3 py-3">
            <h4>Editar Cliente</h4>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-sm btn-outline-dark">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>
        </header>
        @await Html.PartialAsync("Partials/_CustomerEditForm", Model.Customer)
        @await Html.PartialAsync("Partials/_AddressListView", new AddressListView{
            Addresses = Model.Addresses.ToList(),
            CustomerId = Model.Customer!.Id
        })
    </div>
</section>